entrypoints==0.4
nbclient==0.8.0
tqdm==4.66.4
json5==0.9.6
dill==0.3.8
jupyter_server_terminals==0.4.4
pyarrow==14.0.2
wcwidth==0.2.5
gitdb==4.0.7
Flask==3.0.3
pytube==15.0.0
mkl-service==2.4.0
black==24.4.2
menuinst==2.1.1
cytoolz==0.12.2
websocket-client==1.8.0
lckr_jupyterlab_variableinspector==3.1.0
zipp==3.17.0
smmap==4.0.0
cffi==1.16.0
smart-open==5.2.1
bcrypt==3.2.0
pycosat==0.6.6
greenlet==3.0.1
spyder==5.5.1
imagesize==1.4.1
parsel==1.8.1
sphinxcontrib-qthelp==1.0.3
imbalanced-learn==0.12.3
requests==2.32.2
msgpack==1.0.3
ruamel-yaml-conda==0.17.21
yarl==1.9.3
pyct==0.5.0
PyQt5==5.15.10
charset-normalizer==2.0.4
boltons==23.0.0
jupyter-events==0.10.0
HeapDict==1.0.1
nvidia-cublas-cu12==12.1.3.1
lxml==5.2.1
PyQtWebEngine==5.15.6
pyasn1==0.4.8
PyDispatcher==2.0.5
pytoolconfig==1.2.6
triton==3.0.0
termcolor==2.5.0
conda-package-handling==2.3.0
queuelib==1.6.2
ply==3.11
zstandard==0.22.0
python-snappy==0.6.1
torch-geometric==2.6.1
isort==5.13.2
cycler==0.11.0
seaborn==0.13.2
s3fs==2024.3.1
pillow==10.3.0
kaggle==1.6.17
pyzmq==25.1.2
GitPython==3.1.37
overrides==7.4.0
yt-dlp==2024.10.7
libmambapy==1.5.8
urllib3==2.2.2
tzdata==2023.3
psutil==5.9.0
openpyxl==3.1.2
libarchive-c==2.9
mdit-py-plugins==0.3.0
toml==0.10.2
paddlepaddle==2.6.2
colorama==0.4.6
contourpy==1.2.0
jsonschema==4.19.2
ipython-genutils==0.2.0
opencv-python-headless==4.10.0.84
pathspec==0.10.3
unicodedata2==15.1.0
certifi==2024.6.2
ujson==5.10.0
astroid==2.14.2
easyocr==1.7.2
conda-token==0.5.0+1.g2209e04
nvidia-cuda-nvrtc-cu12==12.1.105
Jinja2==3.1.4
nvidia-curand-cu12==10.3.2.106
websockets==13.1
w3lib==1.21.0
nvidia-cusparse-cu12==12.1.0.106
pyOpenSSL==24.0.0
rpds-py==0.10.6
llvmlite==0.42.0
shapely==2.0.6
tldextract==3.2.0
notebook==7.0.8
ultralytics-thop==2.0.9
ptyprocess==0.7.0
sortedcontainers==2.4.0
frozendict==2.4.2
pytest==7.4.4
cryptography==42.0.5
lmdb==1.4.1
Send2Trash==1.8.2
h5py==3.11.0
wurlitzer==3.0.2
wrapt==1.14.1
three-merge==0.1.1
async-lru==2.0.4
opt-einsum==3.3.0
pafy==0.5.5
mdurl==0.1.0
pexpect==4.8.0
aiosignal==1.2.0
defusedxml==0.7.1
traitlets==5.14.3
scikit-learn==1.4.2
comm==0.2.1
packaging==23.2
botocore==1.34.69
sphinxcontrib-htmlhelp==2.0.0
beautifulsoup4==4.12.3
torchaudio==2.4.1
inflection==0.5.1
lazy_loader==0.4
widgetsnbextension==3.6.6
rich==13.3.5
sphinxcontrib-jsmath==1.0.1
requests-file==1.5.1
whatthepatch==1.0.2
cssselect==1.2.0
argon2-cffi-bindings==21.2.0
tomli==2.0.1
distributed==2024.5.0
rfc3986-validator==0.1.1
jaraco.classes==3.2.1
ogb==1.3.6
jsonpatch==1.33
opencv-python==4.10.0.84
spyder-kernels==2.5.0
chardet==4.0.0
setuptools==75.1.0
httpcore==1.0.6
bleach==4.1.0
sympy==1.12
aiohttp==3.9.5
py-cpuinfo==9.0.0
conda-pack==0.7.1
tornado==6.4.1
qtconsole==5.5.1
pyerfa==2.0.1.4
cachetools==5.3.3
numpydoc==1.7.0
stack-data==0.2.0
plotly==5.22.0
et-xmlfile==1.1.0
sphinxcontrib-serializinghtml==1.1.10
requests-toolbelt==1.0.0
barbar==0.2.1
parso==0.8.3
Cython==3.0.11
opencv-contrib-python==4.10.0.84
pydocstyle==6.3.0
Automat==20.2.0
mistune==2.0.4
atomicwrites==1.4.0
python-dateutil==2.9.0.post0
fastjsonschema==2.16.2
MarkupSafe==2.1.3
kiwisolver==1.4.4
lz4==4.3.2
Twisted==23.10.0
Scrapy==2.11.1
anaconda-navigator==2.6.0
tenacity==8.2.2
sniffio==1.3.0
partd==1.4.1
intake==0.7.0
joblib==1.4.2
Werkzeug==3.0.3
pandocfilters==1.5.0
nvidia-cuda-runtime-cu12==12.1.105
importlib-metadata==7.0.1
jupyter_core==5.7.2
jsonpointer==2.1
conda-libmamba-solver==24.1.0
xyzservices==2022.9.0
typing_extensions==4.12.2
jupyterlab-pygments==0.1.2
scikit-image==0.23.2
nbconvert==7.10.0
bokeh==3.4.1
jupyter-lsp==2.2.0
matplotlib-inline==0.1.6
statsmodels==0.14.2
pluggy==1.0.0
pure-eval==0.2.2
nvidia-cuda-cupti-cu12==12.1.105
altair==5.0.1
python-lsp-black==2.0.0
pyclipper==1.3.0.post5
jupyterlab==4.0.11
Rtree==1.0.1
torchvision==0.19.1
python-dotenv==0.21.0
lazy-object-proxy==1.10.0
jupyter_server==2.14.1
tokenizers==0.20.0
Markdown==3.4.1
panel==1.4.4
pywavelets==1.5.0
sentry-sdk==2.20.0
Sphinx==7.3.7
pylint-venv==3.0.3
linkify-it-py==2.0.0
docutils==0.18.1
mkl-random==1.2.4
thop==0.1.1-2209072238
pyviz_comms==3.0.2
nvidia-cusolver-cu12==11.4.5.107
threadpoolctl==2.2.0
watchdog==4.0.1
PyJWT==2.8.0
dask==2024.5.0
astor==0.8.1
ipywidgets==7.8.1
more-itertools==10.1.0
sphinxcontrib-devhelp==1.0.2
itsdangerous==2.2.0
astropy==6.1.0
wandb==0.19.4
transformers==4.45.2
pip==24.0
yapf==0.40.2
incremental==22.10.0
pycodestyle==2.11.1
anaconda-cloud-auth==0.5.1
h11==0.14.0
click==8.1.7
navigator-updater==0.5.1
platformdirs==3.10.0
Bottleneck==1.3.7
PySocks==1.7.1
anaconda-project==0.11.1
distro==1.9.0
tomlkit==0.11.1
debugpy==1.6.7
Brotli==1.0.9
regex==2023.10.3
jedi==0.18.1
patsy==0.5.6
xarray==2023.6.0
mpmath==1.3.0
SQLAlchemy==2.0.30
pkginfo==1.10.0
numpy==1.26.4
Babel==2.11.0
param==2.1.0
ninja==1.11.1.1
nvidia-cudnn-cu12==9.1.0.70
ruamel.yaml==0.17.21
pkce==1.0.3
snowballstemmer==2.2.0
nltk==3.8.1
docstring-to-markdown==0.11
colorcet==3.1.0
aiobotocore==2.12.3
filelock==3.13.1
jeepney==0.7.1
outdated==0.2.2
einops==0.8.0
binaryornot==0.4.4
dask-expr==1.1.0
annotated-types==0.6.0
ultralytics==8.3.9
paddleocr==2.8.1
python-docx==1.1.2
numba==0.59.1
pyodbc==5.0.1
decorator==5.1.1
zict==3.0.0
conda-content-trust==0.2.0
pyls-spyder==0.4.0
conda_index==0.5.0
hvplot==0.10.0
flake8==7.0.0
QtAwesome==1.2.2
jupyter-console==6.6.3
PyQt5-sip==12.13.0
gensim==4.3.2
terminado==0.17.1
hyperlink==21.0.0
prometheus-client==0.14.1
protobuf==3.20.3
frozenlist==1.4.0
webencodings==0.5.1
ipykernel==6.28.0
asttokens==2.0.5
idna==3.7
nvidia-cufft-cu12==11.0.2.54
cookiecutter==2.6.0
itemloaders==1.1.0
scipy==1.13.1
pydantic==2.10.5
pycurl==7.45.2
archspec==0.2.3
hik==0.0.1
six==1.16.0
cloudpickle==2.2.1
markdown-it-py==2.2.0
mutagen==1.47.0
docker-pycreds==0.4.0
text-unidecode==1.3
conda_package_streaming==0.10.0
timm==1.0.9
nbformat==5.9.2
alabaster==0.7.16
pyasn1-modules==0.2.8
constantly==23.10.4
aioitertools==0.7.1
python-slugify==5.0.2
littleutils==0.2.4
Unidecode==1.2.0
nvidia-nvjitlink-cu12==12.6.77
jupyter==1.0.0
conda-build==24.5.1
python-json-logger==2.0.7
jupyterlab_server==2.25.1
diff-match-patch==20200713
multipledispatch==0.6.0
qstylizer==0.2.2
jellyfish==1.0.1
datashader==0.16.2
keyring==24.3.1
mccabe==0.7.0
attrs==23.1.0
matplotlib==3.8.4
tblib==1.7.0
service-identity==18.1.0
multidict==6.0.4
pycryptodomex==3.21.0
tabulate==0.9.0
fsspec==2024.3.1
pytz==2024.1
arrow==1.2.3
jupyterlab-widgets==1.0.0
pylint==2.16.2
jupyter_client==8.6.0
tinycss2==1.2.1
torch_scatter==2.1.2
executing==0.8.3
fastprogress==1.0.3
numexpr==2.8.7
imageio==2.33.1
ipython==8.25.0
appdirs==1.4.4
mypy-extensions==1.0.0
pickleshare==0.7.5
referencing==0.30.2
argon2-cffi==21.3.0
SecretStorage==3.3.1
nvidia-nvtx-cu12==12.1.105
iniconfig==1.1.1
pydantic_core==2.27.2
blinker==1.6.2
pandas==2.2.2
QtPy==2.4.1
torch==2.4.1
imgaug==0.4.0
sphinxcontrib-applehelp==1.0.2
uc-micro-py==1.0.1
pycparser==2.21
anaconda-client==1.12.3
astropy-iers-data==0.2024.6.3.0.31.14
semver==3.0.2
paddlepaddle-gpu==2.6.0
pytesseract==0.3.13
setproctitle==1.3.4
anyio==4.2.0
smplx==0.1.28
RapidFuzz==3.10.0
httpx==0.27.2
pydeck==0.8.0
notebook_shim==0.2.3
fire==0.7.0
Pygments==2.15.1
toolz==0.12.0
anaconda-anon-usage==0.4.4
conda==24.5.0
conda-repo-cli==1.0.88
PyYAML==6.0.1
jmespath==1.0.1
fonttools==4.51.0
safetensors==0.4.5
nest-asyncio==1.6.0
textdistance==4.2.1
QDarkStyle==3.2.3
jsonschema-specifications==2023.7.1
anaconda-catalogs==0.2.0
imagecodecs==2023.1.23
autopep8==2.0.4
huggingface-hub==0.25.2
python-lsp-server==1.10.0
holoviews==1.19.0
zope.interface==5.4.0
nvidia-nccl-cu12==2.20.5
pyparsing==3.0.9
python-bidi==0.6.0
locket==1.0.0
wheel==0.43.0
intervaltree==3.1.0
streamlit==1.32.0
mypy==1.10.0
pyxdg==0.27
pyflakes==3.2.0
python-lsp-jsonrpc==1.1.2
truststore==0.8.0
jsonlines==4.0.0
soupsieve==2.5
Protego==0.1.16
tifffile==2023.4.12
rfc3339-validator==0.1.4
tables==3.9.2
rope==1.12.0
youtube-dl==2020.12.2
sip==6.7.12
networkx==3.2.1
prompt-toolkit==3.0.43
mkl-fft==1.3.8
itemadapter==0.3.0
platformdirs==4.2.2
autocommand==2.2.2
inflect==7.3.1
importlib_resources==6.4.0
tomli==2.0.1
jaraco.context==5.3.0
backports.tarfile==1.2.0
typing_extensions==4.12.2
importlib_metadata==8.0.0
jaraco.text==3.12.1
zipp==3.19.2
jaraco.functools==4.0.1
more-itertools==10.3.0
jaraco.collections==5.1.0
wheel==0.43.0
packaging==24.1
typeguard==4.3.0
